[submodule "kg6zjm/odoo-product-pack"]
	path = kg6zjm/odoo-product-pack
	url = git@github.com:kg6zjm/odoo-product-pack.git
	branch = master

[submodule "kg6zjm/odoo-shipstation"]
	path = kg6zjm/odoo-shipstation
	url = git@github.com:kg6zjm/odoo-shipstation.git
	branch = master

[submodule "kg6zjm/odoo-shipstation-fix"]
	path = kg6zjm/odoo-shipstation-fix
	url = git@github.com:kg6zjm/odoo-shipstation-fix.git
	branch = master

[submodule "kg6zjm/odoo-shipstation-fixit"]
	path = kg6zjm/odoo-shipstation-fixit
	url = git@github.com:kg6zjm/odoo-shipstation-fixit.git
	branch = master
